html,
body {
    
    margin: 0;
    padding: 0;
}

body {
    color: rgb(16, 15, 15);
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;
    user-select: none;
}

.header {
    font-size: 2.5em;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
    text-align: center;
    font-weight: bold;
    margin:0.5rem;
    font-size: 2rem;
    color: rgb(255, 0, 0);
    font-style:italic;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem 0 1rem 0;
}

.cell {
    width: 6rem;
    height: 6rem;
    background-color: rgba(225, 255, 0, 0.341);
    border: 6px solid rgb(35, 34, 34);
    margin: -6px 0 0 -6px;
    text-align: center;
    vertical-align: middle;
    line-height: 6rem;
    font-size: 6rem;
    cursor: pointer;
    
}

a {
    text-decoration: underline;
    color: black;
}

a:visited {
    color: black;
}

/*************************************/
/******        Game Status       *****/
/*************************************/
.status {
    color: rgb(65, 65, 65);
    /* color: orangered; */
    font-size: 1.2rem;
    font-weight: 600;
}

/*************************************/
/******       Reload Button      *****/
/*************************************/
.restart {
    color: rgb(41, 39, 39);
    background-color: rgba(107, 213, 218, 0.71);
    font-size: 1.2rem;
    font-weight: 600;
    order: 1;
    margin: 2rem;
    padding: 0.8rem;
    border: 0;
    border-radius: 40px;
    width: 8rem;
    cursor: pointer;
}

.restart:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(185, 185, 185);
    box-shadow: 0 5px 15px rgba(6, 6, 6, 0.684);

}

/******         Footer           *****/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
}
  
a,
a:visited {
    color: black;
}